/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By 즐겨찾기
 */

/* main 틀 */
html{
	font: Montserrat, sans-serif;
}
.main_body {
  margin: 5% auto;
  max-width: 1280px;
  width: 90%; 
}

/* @media only screen and (min-width: 601px) {
  .main_body {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .main_body {
    width: 70%;
  }
} */
/* -main 틀 */
