/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By 즐겨찾기
 */

/* main 틀 */

body {
	background-color:#ffffff;
	font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	
}
.main_body {
  margin: 4% auto;
  width: 90%; 
}

@media only screen and (min-width: 601px) {
  .main_body {
    width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  .main_body {
    width: 80%;
  }
} 

.box {
	padding: 2rem;
	border: 1.3px solid #d4d4d4;
	margin: 1.5rem;
}

/* -main 틀 */

/* navbar */
nav ul a,
nav .brand-logo {
  color: #444;
  
  }

@media only screen and (min-width: 601px) {

  nav{
    height: 7rem;
    line-height: 5rem;
    padding:  1rem;
  }
}

.bread_div{
	padding-left: 16rem;
	/* background-color: #0795d3; */
}

.bread_div a{
	font-size: x-large;
	font-weight: bold;
	
}
/* -navbar */

/* reserve_apply */
.collapsible-body {
  padding: 0;
}
/* reserve_apply */


